[project]
	description = cqfd - run builds inside the Docker container configured in your project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/quetzai
[access "refs/for/refs/*"]
	read = group user/quetzai
	push = group user/quetzai
	label-Code-Review = -2..+2 group user/quetzai
	label-Verified = -1..+1 group user/quetzai
	rebase = group user/quetzai
	removeReviewer = group user/quetzai
	submit = group user/quetzai
[access "refs/heads/*"]
	read = group user/quetzai
	create = group user/quetzai
	push = +force group user/quetzai
	pushMerge = group user/quetzai
[access "refs/tags/*"]
	push = +force group user/quetzai
	pushTag = group user/quetzai
	pushSignedTag = group user/quetzai
